<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Watched</button>
  <button type="button" class="btn btn-default"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">|</a></button>
  <button type="button" class="btn btn-default">Unwatched</button>
</div>

{{#each this}}
<div class="col-xs-4 poster-display-unit" key="{{@key}}">
	<div class="poster">
		<img src="{{Poster}}" height="300px">
		<a href="#" class="delete-button">
			<span key="{{@key}}" class="glyphicon glyphicon-trash"></span>
		</a>
	</div>
	<button class="movie-watch btn btn-default" key="{{@key}}" watched="{{watched}}">Watch</button>
	<div class="stars" watched="{{watched}}">
		<input id="{{@key}}" class="rating" data-min="0" data-max="5" data-step="1" data-show-clear="false" data-show-caption="false" data-size="xs" value="{{rating}}">
	</div>
</div>
{{/each}}