{{#each this}}
<div class="col-sm-3 col-xs-12 poster-display-unit" key="{{@key}}" watchtoggle="{{watched}}" fave="{{rating}}">
	<div class="poster" id="{{@key}}">
		<img key="{{@key}}" src="{{Poster}}" onError="this.onerror=null;this.src='';">
		<h1 class="behind">{{Title}}<h1>
		<a href="#" class="delete-button">
			<span key="{{@key}}" class="glyphicon glyphicon-trash"></span>
		</a>
	</div>
	<button class="movie-watch btn btn-default" key="{{@key}}" watched="{{watched}}">Watch</button>
	<div class="stars" watched="{{watched}}">
		<input id="{{@key}}" class="rating" data-min="0" data-max="5" data-step="1" data-show-clear="false" data-show-caption="false" data-size="xs" value="{{rating}}">
	</div>
</div>
{{/each}}