{{#each posterListings}}
<div class="col-sm-3 col-xs-12 poster-display-unit">
	<div class="poster">
		<img id="{{@key}}" key="{{@key}}" src="{{Poster}}" onError="this.onerror=null;this.remove();">
		<h3 class="behind">{{Title}}</h3>
	</div>
	<div class="poster-controls">
		<button id="{{@key}}" class="movie-add btn btn-default pull-right">Add</button>
	</div>
</div>
{{/each}}